<li class="list-group-item d-flex justify-content-between align-items-center">
    {{burger_name}}
    <button type="button" class="btn btn-primary devour-button" data-id="{{this.id}}"
        data-devoured="{{devoured}}">Devour</button>
</li>